.container-landing{
  box-sizing: border-box;
  position: relative;
}

.landing {
  object-fit: cover;
}


.link-tohome {
  display: flex;
  text-decoration: none;

}

.button-landing {
  background-color: gray;
  color: white;
  width: 150px;
  border-radius: 50px;
  position: absolute;
  cursor: pointer;
  bottom: 150px;
  left: 800px
}

.button-landing:hover {
  background: black;
  color: white;
  transition: all 0.5s;
}